<html>
  <body style='font-family: Arial, sans-serif; line-height: 1.6;'>
    <h2>Hello {{name}},</h2>
    <p>
      We wanted to let you know that your advertisement titled
      <strong>{{adTitle}}</strong>
      has
      <span style='color:red;'>expired</span>
      on Discussday.
    </p>
    <p>
      Expiration Date:
      <strong>{{expirationDate}}</strong>
    </p>
    <p>
      Please note that expired ads are kept in our system for
      <strong>3 days</strong>
      after expiration. After this period, they will be
      <strong>permanently cleared from our records</strong>.
    </p>
    <p>
      If you’d like to continue promoting your ad, please log in to your
      Discussday account and renew or create a new one before it is removed.
    </p>
    <br />
    <p>Best regards,</p>
    <p><strong>Discussday Team</strong></p>
    <hr />
    <p style='font-size:12px; color:#888;'>
      &copy;
      {{year}}
      Discussday. All rights reserved.
    </p>
  </body>
</html>